body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #849488;
}

button {
	margin: 10px;
	border: none;
	background: none;
	transition: transform .2s;
}

button:active {
	transform: translateY(4px);
}

button:hover {
	transform: translateY(4px);
}


form {
	margin-top: 50px;
	text-align: center;
}

#output{
	background-color: black;
}

#plot_color {
	margin: 20px;
}

footer {
	margin: 20px;
}

a {
	align-items: center;
}