body {
	display: flex;
	flex-direction: column;
	background-color: #849488;
	align-items: center;
}


form {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

button {
	border: none;
	background: none;
	transition: transform .2s;
}

button:active {
	transform: translateY(4px);
}

button:hover {
	transform: translateY(4px);
}

.Main-heading {
	text-align: center;
	font-size: 50px;
	color: black;
	margin-bottom: 50px;
}

#Submit-button{
	margin: 30px;
}

#output {
	margin: 30px;
	text-align: center;
	font-size: 40px;
}

a {
	align-items: center;
}

footer {
	margin-top: 50px;
}


.input_field {
	font-size: 40px;
}

.inputs {
	width: 150px;
	font-size: 40px;
	background-color: #abb591;
}
