.Main-heading {
	text-align: center;
	font-size: 75px;
	color: black;
	margin-bottom: 100px;
}

.Buttons {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

button {
	border: none;
	background: none;
	transition: transform .2s;
	margin: 20px;
}

button:active {
	transform: translateY(4px);
}

button:hover {
	transform: translateY(4px);
}

body {
	background-color: #849488;
}