body {
	display: flex;
	flex-direction: column;
}


form {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.Main-heading {
	text-align: center;
	font-size: 75px;
	color: black;
	margin-bottom: 100px;
}

.coeficients {
	font-size: 40px;
	width: 50px;
}

.labels {
	margin: 10px;
	font-size: 40px;
}

.Submit-button{
	margin: 30px;
}

#output {
	text-align: center;
}