body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #849488;
}

h1{
	text-align: center;
	font-size: 50px;
	color: black;
}

form {
	margin-top: 50px;
	text-align: center;
}

a {
	align-items: center;
}

hr {
	border: 2px dashed black;
}