.Main-heading {
	text-align: center;
	font-size: 75px;
	color: black;
	margin-bottom: 100px;
}

.Buttons {
	display: flex;
  	align-items: center;
  	justify-content: center;
}


#info-form {
	text-align: center;
}

hr {
	border: 2px dashed black;
}

button {
	border: none;
	background: none;
	transition: transform .2s;
	margin: 20px;
}

button:active {
	transform: translateY(4px);
}

button:hover {
	transform: translateY(4px);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #849488;
}


footer {
	margin-top: 50px;
	margin-bottom: 20px;
	position:absolute;
	bottom:0;

}

a {
	align-items: center;
}