
#Submit-button{
	margin: 30px;
}

#output-relations {
	margin: 30px;
	text-align: center;
	font-size: 40px;
}

.input_field {
	font-size: 40px;
}

.inputs {
	width: 300px;
	font-size: 40px;
	background-color: #abb591;
}
